/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b2c4d8;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header p {
    margin: 5px 0;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 1em;
    background-color: white;
    margin: 0.5em 0;
}

section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}


main {
    padding: 20px;
}

section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

   footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: relative; /* Relative positioning */
        }
/* Responsive Design */
@media (max-width: 600px) {
    header p {
        font-size: 14px;
    }

    section {
        padding: 10px;
    }
}

.logo {
            max-width: 70%; /* Menyesuaikan lebar logo dengan lebar kontainer */
            height: 150px; /* Menjaga rasio aspek gambar */
            display: block; /* Menghilangkan ruang ekstra di bawah gambar */
            margin: 20px auto; /* Mengatur jarak atas/bawah dan memastikan logo terpusat */
        }